<div class="container">
  <header *ngIf="authService.isLoggedIn()">
    <nav class="navbar">
      <div class="nav-links">
        <!-- Home Link -->
        <a routerLink="/" class="nav-link">Home</a>

        <!-- Employee Service Dropdown -->
        <div class="dropdown">
          <a href="#" class="nav-link">Employee Service</a>
          <div class="dropdown-content">
            <a routerLink="/employees">Employee List</a>
            <a routerLink="/employee-form">Add Employee</a>
          </div>
        </div>
      </div>
      <!-- Add this inside your nav-links div -->
      <a (click)="logout()" class="nav-link">Logout</a>

    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
